<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Local Library</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->

</head>
<body>
<div class="ui grid container">
    <div class="ui visible left vertical inverted sidebar menu">
        <a class="item">
            Contact 1
        </a>
        <a class="item">
            Contact 2
        </a>
        <a class="item">
            Contact 3
        </a>

    </div>
    <div class="row">
        <div class="column">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>