<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Local Library</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->

</head>
<body>
<div class="ui container">

    <div class="ui secondary pointing menu">
        <a class="active item" href="/">
            Home
        </a>
        <a class="item">
            Messages
        </a>
        <a class="item">
            Friends
        </a>
        <div class="right menu">
            {% if request.user.is_authenticated %}
            <a class="ui item" href="{% url 'user:logout' %}">
                Logout
            </a>
            {% else %}

            <a class="ui item" href="{% url 'user:login' %}">
                Login
            </a>

            <a class="ui item" href="{% url 'user:register' %}">
                Register
            </a>
            {% endif %}
        </div>
    </div>

    <div class="">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>